main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h3 {
    color: var(--Dusty-Olive);
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    z-index: 5;

    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.main-grid-card {
    position: relative;
    display: block;

    width: 30vw;
    height: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.main-grid-card-img {
    width: 100%;
    height: 60%;
    background-color: var(--Deep-Mocha);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-grid-card h4 {
    color: var(--Dusty-Olive);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-grid-card p {
    color: var(--Deep-Mocha);
}

.main-grid-card h5 {
    color: var(--Deep-Mocha);
    width: 100%;
    text-align: end;
}

.main-grid-card a {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 750px) and (min-width: 510px)
{
    .main-grid-card {
        width: 45vw;
    }
}


@media (max-width: 510px)
{
    .main-grid-card {
        width: 90vw;
    }
}

